<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_main.css">
    <title>Admin Page</title>
    <script src="/javascript/students.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="students" class="tab-content">
           
            <button id="hi"onclick="showTab()">students Details</button>
           
        </div>

        <div id="payment" class="tab-content">
           
            <button id="hi"onclick="showTab1()">payment Details</button>
           
        </div>

        <div id="mess" class="tab-content">
           
            <button id="hi"onclick="showTab()">Mess Details</button>
           
        </div>

       
    </div>

   
</body>
</html>
