<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose the containt</title>
</head>
<style>
    .a{
        text-align: right;
        background-color: rgb(187, 160, 211);
        border: 2px solid blueviolet;
        padding: 22px;
        opacity: 1;
        
    }
    a{
        padding: 10px;
        border: 2px solid black;
        background-color: aqua;
        text-decoration: none;
    }
    body{
        background-image: url("https://i.ytimg.com/vi/2FqBUgt_ACw/maxresdefault.jpg");
    }
</style>
<body><div class="a">
    <a href="/admin">ADMIN</a>
    <a href="/signup">REGISTER</a>
    <a href="/login" class="login">LOGIN</a>
    </div>
   
</body>
</html>